.cars
    width: 71%
    height: auto
    display: flex
    flex-wrap: wrap
    position: relative
    z-index: 0
    gap: 1rem
    @media (max-width: 1000px)
        width: 90vw
        display: flex
        justify-content: center
    @media (max-width: 665px)
        width: 89vw    
    &__box
        width: 8.7rem
        height: 8rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 1rem
        font-weight: bold
        font-family: Arial, Helvetica, sans-serif
        font-size: 2vh
        color: black
        @media (max-width: 1000px)
            width: 7rem
            height: 7rem
    &__box__img
        width: 5rem
        height: 5rem
        object-fit: contain   
    &__box__image
        width: 5rem
        height: 5rem
        object-fit: cover     


